li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    /*background-color: rgba(41, 219, 215, 0.83);*/
    background-color:lightpink;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    height: 100%;
    width: calc(25% - 20px);
  }

  .navbar {
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
    background-color: #353535;
    font-size: 18px;
  }

  .navbar-header {
    float: none;
    padding: 20px  0px 20px 20px;
    background-color: rgba(29, 29, 29, 0.57);
    color: palevioletred;
    border-bottom: 1.5px solid white;
  }

    .navbar-header :hover {
      font-size: 20px;
      color: lightpink;
      padding: 18px 0px 20px 9px;
      transition-duration: 0.2s;
    }

  .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0px;
  }

  .navbar ul {
    float: none;
    padding-top:10px;
  }

  .navbar li {
    float: none;
    margin: 10px;
  }

    .navbar li a {
      padding: 18px;
      border-radius: 10px 50px 50px 10px;
      border: 1.5px solid white;
      color:white;
    }

      .navbar li a:hover {
        padding: 25px;
        font-size: 25px;
        border-radius: 10px 50px 50px 10px;
        background-color: white;
        color: palevioletred;
        transition-duration: 0.2s;
      }

  .navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }
}
