<div class="row">
  <h1>Contact Me</h1>
</div>
<hr />
<br />
<div class="jumbotron">
  <div class="row" style="text-align:center">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <a href="https://www.facebook.com/fighttoSitthinon"><img src="../../assets/fb_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://instagram.com/fightto_sitthinon"><img src="../../assets/Instagram_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/sitthinon-chanaritthichai/"><img src="../../assets/linkedin_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://github.com/FighttoSitthinon"><img src="../../assets/github_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="mailto:sitthinon.c@hotmail.com"><img src="../../assets/hotmail_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="mailto:s.chanaritthichai@gmail.com"><img src="../../assets/gmail_Icon.png" width="90" /></a>
      </div>
    </div>
    <br />
  </div>
</div>


