<div class="row">
  <h1>Contact Me</h1>
</div>
<hr />
<br />
<div class="jumbotron">
  <div class="row" style="text-align:center">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <a href="https://www.facebook.com/fighttoSitthinon" target="_blank" title="Facebook">
        <img src="../../assets/fb_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://instagram.com/fightto_sitthinon" target="_blank" title="Instagram">
        <img src="../../assets/Instagram_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/sitthinon-chanaritthichai/" target="_blank" title="LinkedIn">
        <img src="../../assets/linkedin_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="https://github.com/FighttoSitthinon" target="_blank" title="Github">
        <img src="../../assets/github_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="mailto:sitthinon.c@hotmail.com" title="sitthinon.c@hotmail.com">
        <img src="../../assets/hotmail_icon.png" width="90" /></a>
      </div>
      <div class="col-sm-2">
        <a href="mailto:s.chanaritthichai@gmail.com" title="s.chanaritthichai@gmail.com">
        <img src="../../assets/gmail_Icon.png" width="90" /></a>
      </div>
    </div>
    <br />
  </div>
</div>


