<div class="row">
  <h1>About this web.</h1>
</div>
<hr />
<br />
<div class="jumbotron">
  <div class="row" style="font-size:20px;text-align:center">
    <p>This web site was developed by this technologies...</p>
    <br />
    <div class="row" style="">
      <div class="col-md-4">
        <a href="https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial">
          <img src="../../assets/dotnet.png" width="200" />
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://angular.io/">
          <img src="../../assets/angular.png" width="200" />
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://azure.microsoft.com/th-th/free/">
          <img src="../../assets/azure.png" width="200" />
        </a>
      </div>
    </div>
  </div>
</div>
<br />
<hr />
<br />

