<div class="row">
  <h1>About this web.</h1>
</div>
<hr />
<br />
<div class="container">
  <div class="row" style="font-size:20px">
    <p>This web app created by ...</p>
    <br />
    <div class="col-sm-12" style="text-align:center">
      <div class="col-sm-3">
        <img src="../../assets/dotnet.png" width="200" />
      </div>
      <div class="col-sm-3">
        <img src="../../assets/angular.png" width="200" />
      </div>
      <div class="col-sm-3">
        <img src="../../assets/azure.png" width="200" />
      </div>
    </div>
  </div>
</div>
<br /><br />

