<div class="row">
  <h1>My Work Experience</h1>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
      <div class="main-timeline8">
        <div class="timeline" *ngFor="let item of content">
          <span class="timeline-icon"></span>
          <span class="year">{{item.timeline}}</span>
          <div class="timeline-content">
            <h3 class="title">{{item.title}}</h3>
            <p class="description">
              {{item.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br />
<hr>

