/* You can add global styles to this file, and also import other style files */
.loadPage {
  color: cornflowerblue;
  font-style: inherit;
  animation: loadPageAnimation 0.5s infinite;
}

@keyframes loadPageAnimation{
  50% {
    color: lightpink;
  }
  100% {
    color: cornflowerblue;
  }
}
